<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/Style.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Content/Image/icon-home.png" width="100px" height="60px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                    <div class="nav navbar-nav nav-item dropdown-a ">
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                    </div>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <footer class="container-fluid footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Toán</strong></h4>
                    <p><a href="#">Hình học</a></p>
                    <p><a href="#">Tuyến tính</a></p>
                    <p><a href="#">Xác suất</a></p>
                    <p><a href="#">IQ</a></p>
                    <p><a href="#">Logic</a></p>
                    <p><a href="#">Giải tích</a></p>
                    <p><a href="#">Đồ thị</a></p>
                    <p><a href="#">Hàm số</a></p>
                    <p><a href="#">Tư duy</a></p>
                    <p><a href="#">Đẹp trai</a></p>
                </div>
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Tiếng anh</strong></h4>
                    <p><a href="#">IELTS</a></p>
                    <p><a href="#">TOEFL</a></p>
                    <p><a href="#">BASIC</a></p>
                    <p><a href="#">SPEAKING</a></p>
                    <p><a href="#">READING</a></p>
                    <p><a href="#">LISTENING</a></p>
                    <h4 class="footer-tittle-col"><strong>Vật lý</strong></h4>
                    <p><a href="#">Đại cương</a></p>
                    <p><a href="#">Nâng cao</a></p>
                </div>
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Tin</strong></h4>
                    <p><a href="#">C/C++</a></p>
                    <p><a href="#">Java</a></p>
                    <p><a href="#">C#</a></p>
                    <p><a href="#">Kolin</a></p>
                    <p><a href="#">Rubic</a></p>
                    <p><a href="#">Javascript</a></p>
                    <p><a href="#">Html/Css</a></p>
                    <h4 class="footer-tittle-col"><strong>Học nào</strong></h4>
                    <p><a href="#">Đăng ký</a></p>
                    <p><a href="#">Đăng nhập</a></p>
                </div>
                <div class="col-6 ">
                    <div class="contact">
                        <h3><strong>Liên hệ với chúng tôi!</strong></h3>
                        <p>Email: harley20005@gmail.com <br>hoặc: ducle6487@gmail.com</p>
                        <h4><strong>Kết nối với chúng tôi</strong></h4>
                        <div>
                            <img class="img-circle" src="~/Content/Image/Facebook-200x200.jpg" width="80px" height="80px">
                            <img class="img-circle" src="~/Content/Image/Twitter-1.jpg" width="80px" height="80px">
                            <img class="img-circle" src="~/Content/Image/zalo_sharelogo.png" width="80px" height="80px">
                        </div>
                    </div>
                    <div class="copyright">Copyright &copy; Sang - Đức</div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>