@using FindingTutor.Models
@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .image {
        width: 100%;
    }

    body {
        margin: 0;
    }

    .h2a {
        font-family: sans-serif;
        font-weight: 700 !important;
        font-size: 2.1rem;
        color: orangered;
    }

    .h2b {
        font-family: sans-serif;
        font-weight: 700;
        margin: 5px;
        height: 50%;
    }

    .h3c {
        font-family: sans-serif;
        font-weight: 400;
        margin-left: 10%;
        font-size: 1.5rem;
        margin: 12px;
    }

    .h3 {
        font-family: sans-serif;
        font-weight: 520 !important;
        font-size: 1.5rem;
        color: orangered;
    }

    .header {
        margin-top: -18%;
        width: 90%;
        padding-left: 10%
    }

    .avatar {
        width: 20%;
        aspect-ratio: 1;
        border-radius: 5px;
        margin: 5px;
    }
</style>
<style>
    .card-container {
        background-color: #231e39;
        border-radius: 5px;
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
        color: #b3b8cd;
        padding-top: 30px;
        position: relative;
        width: 350px;
        max-width: 100%;
        text-align: center;
        margin: 10px;
    }

        .card-container .round {
            border: 1px solid #03bfcb;
            border-radius: 50%;
            padding: 7px;
        }

    button.primary {
        background-color: #03bfcb;
        border: 1px solid #03bfcb;
        border-radius: 3px;
        color: #231e39;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        padding: 10px 25px;
    }

    .skills {
        background-color: #1f1a36;
        text-align: left;
        padding: 15px;
        margin-top: 30px;
    }

        .skills ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .skills ul li {
                border: 1px solid #2d2747;
                border-radius: 2px;
                display: inline-block;
                font-size: 12px;
                margin: 0 7px 7px 0;
                padding: 7px;
            }
</style>
<body>
    <img src="~/Content/image/x.PNG" class="image" />
    @using (Html.BeginForm("FindTutor", "Home"))
    {
        <div style="width: 100%;">

            <div class="header">
                <h2 class="h2a">@ViewBag.CountTeacher gia sư @ViewBag.NameCourse trực tuyến</h2>
                <h3 class="h3">Kết nối với các gia sư trực tuyến tiềm năng và đáng tin cậy</h3>
                <br />
                <br />
                <div style="display: flex">
                    <div class="input-group mb-3" style="width: 30%">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Khóa học</label>
                        </div>
                        <select class="custom-select" required="required" name="khoahoc" id="inputGroupSelect01">
                            <option value="0">Tất cả</option>
                            @foreach (CourseModel item in ViewBag.ListCourse)
                            {
                                if (item.IdCourse.ToString() == ViewBag.IdCourse)
                                {
                                    <option selected value="@item.IdCourse">@item.NameSubject-@item.NameGrade</option>
                                }
                                else
                                {
                                    <option value="@item.IdCourse">@item.NameSubject-@item.NameGrade</option>
                                }
                            }
                        </select>
                    </div>
                    <br />
                    <div><input type="submit" class="btn btn-success" value="Tìm gia sư" style="margin-left: 10px" /></div>
                </div>
            </div>
        </div>

    }

    <br />
    <br />
    <br />
    <br />
    <br />
    <div style="width: 100%" align="center">
        <div class="card-group" style="width: 80%" align="center">

            @foreach (TeacherInfoModel teacherInfo in ViewBag.ListInfo)
            {
                <div class="card-container">
                    <img class="round" src="~/Content/Image/@teacherInfo.teacherModel.Avatar" style="width:50%" alt="user" />
                    <h3>@teacherInfo.teacherModel.Name</h3>
                    <h6>@teacherInfo.teacherModel.Email</h6>
                    <p>0@(teacherInfo.teacherModel.Phone)<br />@(teacherInfo.teacherModel.Price)đ/giờ </p>
                    <div class="buttons">
                        <button class="primary" type="submit" onclick="location.href = '@Url.Action("Profile","Tutor",new{ id = @teacherInfo.teacherModel.IdTeacher.ToString()})'">
                            See more
                        </button>
                    </div>
                    <div class="skills">
                        <h6>Skills</h6>
                        <ul>
                            @foreach (ProfileModel p in teacherInfo.listProfile)
                            {
                                <li>@p.NameGrade</li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>